.landing {
    text-align: center;
  }
  
  .header {
    background-color: #000000;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .buttons{
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    justify-content: center;
    gap: 20px;
    top:60vh;
  }
  
  .signupbutton {
    grid-column: 1;
    box-sizing: border-box;
    width: 221px;
    height: 66px;
    background: #000000;
    border: 2px solid #FFFFFF;
    box-shadow: 2px 5px 5px rgba(255, 255, 255, 0.49);
    border-radius: 25px;
  }
  
  
  .loginbutton {
    grid-column: 2;
    box-sizing: border-box;
    /* position: absolute; */
    width: 221px;
    height: 66px;
    background: #000000;
    border: 2px solid #FFFFFF;
    box-shadow: 2px 5px 5px rgba(255, 255, 255, 0.49);
    border-radius: 25px;
  }
  
  .logintext {
    position: absolute;
    width: 90px;
    height: 42px;
    left: 808px;
    top: 635px;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    color: #FFFFFF;
  }
  
  