
.home {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  font-family: "Gill Sans", sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.logo {
  /* Add logo styles if needed */
}

.description {
  display: flex;
  align-items: center;
  width: 100%;
}

.input-description {
  flex-grow: 1;
  margin-right: 10px;
  background: transparent;
  border: 2px solid #FFFFFF;
  border-radius: 15px;
  padding: 10px;
  color: white;
  font-size: 15px;
}

.run-button {
  background: transparent;
  border: 2px solid #FFFFFF;
  border-radius: 15px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 18px;
}

.main-content {
  padding-top: 50px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 100%
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
  padding: 5px;
}

.input-label {
  font-size: 25px;
  margin-bottom: 5px;
  align-self: flex-start;
  /* Align the labels to the start of the flex container */
  color: white;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.input-large,
.input-small {
  background: transparent;
  border: 2px solid #FFFFFF;
  border-radius: 15px;
  padding: 10px;
  color: white;
  font-size: 16px;
}

.input-large {
  flex: 1;
  margin-right: 10px;
  min-height: 200px;
}

.input-small {
  flex: 1;
  margin-right: 10px;
  min-height: 200px;
}

/* This will be the last input-small in the row so it shouldn't have a margin */
.row .input-small:last-child {
  margin-right: 0;
}

/* Adjustments for responsive design */
@media (max-width: 768px) {
  .description {
    flex-direction: column;
    align-items: stretch;
  }

  .input-description {
    margin-bottom: 10px;
    margin-right: 0;
  }

  .row {
    flex-direction: column;
  }

  .input-large,
  .input-small {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .row .input-small:last-child {
    margin-bottom: 0;
  }
}