.signup {
    text-align: center;
  }
  
  .header {
    background-color: #000000;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .form {
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    gap: 16px;
  }
  
  .logo {
    padding: 20px;
    text-align: center;
  }
  
  .names {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .nameInput1,
  .nameInput2 {
    width: 100%;
  }
  
  #firstname,
  #lastname,
  #contact,
  #password {
    width: 100%;
    height: 53px;
    background: #000000;
    border: 2px solid #FFFFFF;
    box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.49);
    border-radius: 15px;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  #firstname::placeholder,
  #lastname::placeholder,
  #contact::placeholder,
  #password::placeholder {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 25px;
    color: #717171;
  }
  
  .signupButton {
    grid-column: 1;
    box-sizing: border-box;
    width: 221px;
    height: 66px;
    margin: 0 auto; /* Center horizontally */
    background: #000000;
    border: 2px solid #FFFFFF;
    box-shadow: 2px 5px 5px rgba(255, 255, 255, 0.49);
    border-radius: 25px;
  }
  
  